# Binaries
**/bin/
bin-int/

#premake
!**/premake/bin/

#dependencies
!**/libzip/bin/
!**/zlib/bin/

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user

# Archived
**/archived/